@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.heading {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 33px;
}

.heading--small {
  font-size: 12px;
}
.heading--medium {
  font-size: 14px;
}
.heading--large {
  font-size: 22px;
}
