.button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
}
.button--primary {
  color: white;
  background-color: #46B13D;
}
.button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.button--small {
  font-size: 12px;
  padding: 6px 20px;
}
.button--medium {
  font-size: 14px;
  padding: 6px 20px;
}
.button--large {
  font-size: 16px;
  padding: 6px 20px;
}
